@model List<TarefaModel>
@{
    ViewData["Title"] = "Minhas Tarefas";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-primary" role="button" asp-controller="Tarefa" asp-action="Criar">Adicionar nova tarefa</a>
    </div>
    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
    </div>
    }

    <br />


    <h1>Gerenciar Tarefas</h1>

    <table class="table table-striped; mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tarefa</th>
                <th scope="col">Observações</th>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (TarefaModel tarefa in Model)
                {
                    <tr>
                        <th scope="row">@tarefa.Id</th>
                        <td>@tarefa.NomeTarefa</td>
                        <td>@tarefa.Observacao</td>
                        <td>@tarefa.Data</td>
                        <td>@tarefa.Hora</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-outline-primary" asp-route-id="@tarefa.Id" asp-Controller="Tarefa" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@tarefa.Id" asp-Controller="Tarefa" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">Nenhuma tarefa encontrada.</td>
                </tr>

            }
        </tbody>
    </table>
</div>
